/* Estilos gerais */
body {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  background-color: #f9f9f9;
  font-family: "Poppins", sans-serif;
  margin: 0;
  background-color: #131315;
}

.form-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fff;
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 80%;
  max-width: 100px;
  background-color: #131315;
}

p{
  color: #797979;
  font-size: 15px;
}

.form-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: white;
}

.form-header {
  margin-bottom: 1rem;
  font-size: 20px;
  text-align: center;
}

.form-fields {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form-button {
  margin-top: 1rem;
  padding: 0.75rem;
  background-color: rgba(255, 0, 0, 0.76);
  color: #FFFFFF;
  font-size: 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.form-footer {
  margin-top: 1rem;
}

.form-footer a {
  color: rgba(255, 0, 0, 0.897);
  text-decoration: none;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
}

.input-group label {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}

.input-group input {
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 99px;
  width: 427px;
  height: 33.27px;
  font-family: "Poppins", sans-serif;
  background-color: #E2E2E2;
}

input::placeholder {
  font-family: "Poppins", sans-serif;
  font-style: italic;
  color: #9CA3AF;
}

/* Estilização específica para o campo select */
select {
  width: 85%;
  height: 50px;
  padding: 0.5rem;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 99px;
  background-color: #E2E2E2;
  color: #131315;
}



/* Estilização específica para checkbox */
label input[type="checkbox"] {
  margin-right: 0.5rem;
  accent-color: rgba(255, 0, 0, 0.76);
}

label {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: white;
  display: flex;
  align-items: center;
}

/* Estilização específica para detalhes da deficiência */
input[name="pcdDetails"] {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 99px;
  background-color: #E2E2E2;
  font-family: "Poppins", sans-serif;
  color: #131315;
}

/* Media queries para responsividade */
@media (max-width: 390px) { 
  /* Para tablets e telas menores */
  
  body {
    justify-content: space-evenly;
    align-items: center;
  }
  
  
  
  .form-wrapper {
    padding: 1.5rem;
    justify-content: space-evenly;
  }

  .form-button {
    font-size: 18px;
    padding: 0.7rem;
  }

  .input-group input {
    width: 100%;  /* Ajusta o campo de entrada para ocupar toda a largura disponível */
    height: 35px;
  }

  .form-header h1 {
    font-size: 35px;
  }

  .form-footer {
    font-size: 14px;
  }

  .form-header h1 {
    font-size: 14px;
  }

  .form-footer {
    font-size: 10px;
  }
}


