.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color:#131315; /* Fundo preto */
  padding: 10px 0;
  color: white;
}

.footer__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
}

.footer__icon {
  width: 30px; /* Tamanho dos ícones */
  height: 30px;
  margin-bottom: 5px;
}

.footer__item span {
  color: white;
}

.footer__item--active {
  color: red; /* Texto vermelho para "ativo" */
}



/* Estilos responsivos */
@media (max-width: 390px) {
  .footer {
    grid-template: repeat(2, 1fr);
    padding: 3rem 2rem;
  }
}

.footer .footer__item {
  margin-top: 0%;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}