
.criar-turma-container {
  text-align: center;
  margin: 20px;
}

.criar-turma-button {
  background-color: #DA1010;
  color: white;
  border: none;
  padding: 10px 18px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 50%;
}

.criar-turma-form {
  margin-top: 20px;
}

.criar-turma-form input {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 80%;
  max-width: 400px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.criar-turma-form button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.criar-turma-form .cancel-button {
  background-color: grey;
  color: white;
}

.criar-turma-form .create-button {
  background-color: #DA1010;
  color: white;
}

.class-card {
  border: none;
  border-radius: 18px;
  background-color: #FFFFFF;
  color: black;
  margin: 20px auto;
  padding: 10px;
  width: 80%;
  max-width: 310px;
  max-height: 93px;
  text-align: left;

}

.class-card p {
  color: black;
}