body {
  font-family: 'Poppins', sans-serif; /* Define a fonte para todo o documento */
  margin: 0; /* Remove margens padrão */
}

.container {
  padding: 20px;
}

.button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 21px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-weight: 500;
}

.button-connect {
  background-color: #DA1010;
  color: #fff;
}

.button-read {
  background-color: #28a745;
  color: #fff;
}

.button-disconnect {
  background-color: #DA1010;
  color: #fff;
}

.button-disabled {
  background-color: #ccc;
  color: #000;
}

.error-message {
  color: #DA1010;
}

.read-data-title {
  color: white;
  font-weight: 500;
}

.read-data {
  width: 100%;
  height: 100px;
  padding: 10px;
  font-size: 14px;
  border-radius: 8px;
  font-family: 'Poppins';
}

.beacon-conect {
  font-size: 20px;
  text-decoration: none;
}

.highlight {
  color: #DA1010; /* Define a cor do texto como vermelha */
}

.title{
  font-weight: 400;
}
