.input-group {
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
}

.input-group label {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

.input-group input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 427px;
  height: 33.27px;
  border-radius: 99px;
  border: 1px solid black;
  font-family: "Poppins", sans-serif;
  background-color: #E2E2E2;
}

input::placeholder{
  font-family: "Poppins", sans-serif;
  font-style: italic;
  color: #9CA3AF;
}

/* Ajustes gerais para responsividade */
.form-wrapper {
display: flex;
justify-content: center;
align-items: center;
background-color: #131315;
padding: 1rem;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
border-radius: 10px;
width: 80%;
max-width: 500px;
color: white;
}

.form-header h1 {
font-size: 28px;
text-align: center;
}

.input-group input {
width: 100%;
height: 20px;
margin: 0 110px;
}

.form-button {
margin-top: 1%;
margin: 0 10px;
padding: 0.7rem;
background-color: rgba(255, 0, 0, 0.76);
color: white;
font-size: 18px;
border: none;
border-radius: 15px;
cursor: pointer;
}

.login-logo {
width: 100%; /* Ajuste o tamanho da imagem */
margin: 0 auto 1rem; /* Centraliza a imagem e adiciona espaçamento inferior */
}

/* Media query para iPhone 12 Pro (390px largura) */
@media (max-width: 390px) {
.form-wrapper {
  padding: 1rem;
  max-width: 100%;
}

.login-logo {
  width: 100px; /* Ajuste o tamanho da imagem */
  margin: 0 auto 1rem; /* Centraliza a imagem e adiciona espaçamento inferior */
}

.form-header h1 {
  font-size: 24px;
}

.input-group input {
  width: 100%;
  height: 20px;
  margin: 0 100px;
}

.form-button {
  font-size: 16px;
  padding: 0.5rem;
  margin: 50%;
  display: flex;
}

.form-footer {
  font-size: 12px;
}
}

.form-footer p {
color: white;
align-items: center ;
text-align: center;
}

